<% extend('../layouts/dashboard-layout') %>

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="btn-group w-100">
      <a href="#" class="btn btn-outline-secondary w-100 rounded-0 active"
        >已發佈</a
      >
      <a href="#" class="btn btn-outline-secondary w-100 rounded-0">草稿</a>
      <a href="/dashboard/article/create" class="btn btn-primary">新增文章</a>
    </div>
    <% for( item in article ) { %>
    <div class="card my-3">
      <h4 class="card-header"><%= article[item].title %></h4>
      <div class="card-body">
        <%- striptags(article[item].content).slice(0,150) %>...
        <div>
          <span class="fa fa-clock-o"></span>
          <%- dayjs(article[item].update_time).format('YYYY-MM-DD HH:mm') %>
          <span class="fa fa-folder-open-o"></span>
          <span> <%= categories[article[item].category].name %> </span>
        </div>
      </div>
      <div class="card-footer p-0 btn-group">
        <a
          href="#"
          class="btn btn-outline-danger rounded-0 deletePost"
          data-id="<%= article[item].id %>"
          data-title="<%= article[item].title %>"
          >刪除</a
        >
        <a
          href="/dashboard/article/<%= article[item].id %>"
          class="btn btn-outline-secondary w-100 rounded-0"
          >編輯</a
        >

        <a
          href="#"
          target="_blank"
          class="btn btn-outline-secondary w-100 rounded-0"
          >預覽</a
        >
      </div>
    </div>
    <% } %>
  </div>
</div>

<nav class="my-5" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="/dashboard/archives" tabindex="-1">Previous</a>
    </li>

    <li class="page-item active">
      <a class="page-link" href="/dashboard/archives"> 1 </a>
    </li>

    <li class="page-item">
      <a class="page-link" href="/dashboard/archives"> 2 </a>
    </li>

    <li class="page-item">
      <a class="page-link" href="/dashboard/archives">Next</a>
    </li>
  </ul>
</nav>
