<% extend('./layouts/layout') %>

<div class="row my-4 justify-content-center">
  <div class="col-md-9">
    <% for (const item in article) {%>
    <div class="card mb-3">
      <div class="card-body">
        <a href="/post/<%= article[item].id %>">
          <h2 class="text-primary"><%= article[item].title %></h2></a
        >
        <div class="d-flex flex-row text-secondary small">
          <div class="p-2">
            <span class="fa fa-clock-o"></span> <%-
            dayjs(article[item].update_time).format('YYYY/MM/DD') %>
          </div>
          <div class="p-2">
            <i class="fa fa-tag" aria-hidden="true"></i>
            <a href="#" class="text-info">
              <%- categories[article[item].category]?.name || '' %>
            </a>
          </div>
        </div>
        <div><%- striptags(article[item].content).slice(0,150) %>.....</div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<nav class="my-5" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item <%= !pagination.hasPre && 'disabled' %>">
      <a
        class="page-link"
        href="/?page=<%=pagination.currentPage-1%>"
        tabindex="-1"
        >Previous</a
      >
    </li>
    <% for( let index = 1; index < pagination.pages + 1; index++ ) { %>
    <li
      class="page-item <%= index === Number(pagination.currentPage) && 'active' %>"
    >
      <a class="page-link" href="/?page=<%=index%>"> <%=index%> </a>
    </li>
    <% } %>

    <li class="page-item <%= !pagination.hasNext && 'disabled' %>">
      <a class="page-link" href="/?page=<%=Number(pagination.currentPage)+1%>"
        >Next</a
      >
    </li>
  </ul>
</nav>
