<% extend('./layouts/layout') %>

<div class="row my-4 justify-content-center">
  <div class="col-md-9">
    <% for (const item in article) {%>
    <div class="card mb-3">
      <div class="card-body">
        <a href="/post/<%= article[item].id %>">
          <h2 class="text-primary"><%= article[item].title %></h2></a
        >
        <div class="d-flex flex-row text-secondary small">
          <div class="p-2">
            <span class="fa fa-clock-o"></span> <%-
            dayjs(article[item].update_time).format('YYYY/MM/DD') %>
          </div>
          <div class="p-2">
            <i class="fa fa-tag" aria-hidden="true"></i>
            <a href="#" class="text-info">
              <%- categories[article[item].category]?.name || '' %>
            </a>
          </div>
        </div>
        <div><%- striptags(article[item].content).slice(0,150) %>.....</div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<%- include('utils/pagination') %>
